@import "tailwindcss";

body {
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.content-container {
  max-width: 100%;
  width: 100%;
}

@media (min-width: 768px) {
  .content-container {
    max-width: 45%;
  }
}

.body-text {
  color: rgb(55 65 81);
  line-height: 1.625;
  font-size: 16px;
  @media (max-width: 768px) {
    font-size: 14px;
  }
}
.experience-text {
  font-size: 14px;
  color: rgb(55 65 81);
  @media (max-width: 768px) {
    font-size: 12px;
  }
}

@keyframes shimmer {
  0% {
    background-position: -1000px 0;
  }
  100% {
    background-position: 1000px 0;
  }
}

.skeleton-shimmer {
  background: linear-gradient(
    90deg,
    rgb(229 231 235) 0%,
    rgb(243 244 246) 50%,
    rgb(229 231 235) 100%
  );
  background-size: 1000px 100%;
  animation: shimmer 2s infinite;
}
